### Imprort libraries

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.stats.multicomp as multi

### Load dataset

In [2]:
data = pd.read_csv('gapminder.csv', low_memory=False)

### Explore data set

In [3]:
data.head(5)

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Afghanistan,,.03,.5696534,26.8,75944000,25.6000003814697,,3.65412162280064,48.673,,0,,6.68438529968262,55.7000007629394,24.04
1,Albania,1914.99655094922,7.29,1.0247361,57.4,223747333.333333,42.0999984741211,,44.9899469578783,76.918,,9,636.341383366604,7.69932985305786,51.4000015258789,46.72
2,Algeria,2231.99333515006,.69,2.306817,23.5,2932108666.66667,31.7000007629394,.1,12.5000733055148,73.131,.42009452521537,2,590.509814347428,4.8487696647644,50.5,65.22
3,Andorra,21943.3398976022,10.17,,,,,,81,,,,,5.36217880249023,,88.92
4,Angola,1381.00426770244,5.57,1.4613288,23.1,248358000,69.4000015258789,2,9.99995388324075,51.093,,-2,172.999227388199,14.5546770095825,75.6999969482422,56.7

In [4]:
print(data.shape)                # dimension of dataframe

(213, 16)

In [5]:
# Columns name
data.columns

Index(['country', 'incomeperperson', 'alcconsumption', 'armedforcesrate',
       'breastcancerper100th', 'co2emissions', 'femaleemployrate', 'hivrate',
       'internetuserate', 'lifeexpectancy', 'oilperperson', 'polityscore',
       'relectricperperson', 'suicideper100th', 'employrate', 'urbanrate'],
      dtype='object')

### Setting variables you will be working with to numeric

In [6]:
#setting variables you will be working with to numeric
data['suicideper100th'] =pd.to_numeric(data['suicideper100th'], errors='coerce')
data['incomeperperson'] =pd.to_numeric(data['incomeperperson'], errors='coerce')

In [7]:
# Check type of data after converting
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 16 columns):
country                 213 non-null object
incomeperperson         190 non-null float64
alcconsumption          213 non-null object
armedforcesrate         213 non-null object
breastcancerper100th    213 non-null object
co2emissions            213 non-null object
femaleemployrate        213 non-null object
hivrate                 213 non-null object
internetuserate         213 non-null object
lifeexpectancy          213 non-null object
oilperperson            213 non-null object
polityscore             213 non-null object
relectricperperson      213 non-null object
suicideper100th         191 non-null float64
employrate              213 non-null object
urbanrate               213 non-null object
dtypes: float64(2), object(14)
memory usage: 26.7+ KB

In [8]:
sub_data = data[['country','suicideper100th', 'incomeperperson']].copy()

In [9]:
sub_data.head()

       country  suicideper100th  incomeperperson
0  Afghanistan         6.684385              NaN
1      Albania         7.699330      1914.996551
2      Algeria         4.848770      2231.993335
3      Andorra         5.362179     21943.339898
4       Angola        14.554677      1381.004268

### Counts and percentages (i.e. frequency distributions) for each variable

In [10]:
sub_data.describe()

       suicideper100th  incomeperperson
count       191.000000       190.000000
mean          9.640839      8740.966076
std           6.300178     14262.809083
min           0.201449       103.775857
25%           4.988449       748.245151
50%           8.262893      2553.496056
75%          12.328551      9379.891165
max          35.752872    105147.437697

In [11]:
sub_data.shape

(213, 3)

### Drop some row that have missing values

In [12]:
data_clean = sub_data.dropna().copy()
data_clean.shape

(181, 3)

### To group the quantities into appropriate bins (make categorical data)

In [13]:
for col in ('suicideper100th', 'incomeperperson'): 
      
    if col == 'incomeperperson':
        data_clean.loc[data_clean[col] <= 1000, col] = 1
        data_clean.loc[( data_clean[col] > 1000) & ( data_clean[col] <= 2000), col] = 2
        data_clean.loc[( data_clean[col] > 2000) & ( data_clean[col] <= 3000), col] = 3
        data_clean.loc[( data_clean[col] > 3000) & ( data_clean[col] <= 4000), col] = 4
        data_clean.loc[( data_clean[col] > 4000) & ( data_clean[col] <= 5000), col] = 5
        data_clean.loc[( data_clean[col] > 5000) & ( data_clean[col] <= 6000), col] = 6
        data_clean.loc[( data_clean[col] > 6000) & ( data_clean[col] <= 7000), col] = 7
        data_clean.loc[( data_clean[col] > 7000) & ( data_clean[col] <= 8000), col] = 8
        data_clean.loc[( data_clean[col] > 8000) & ( data_clean[col] <= 9000), col] = 9
        data_clean.loc[( data_clean[col] > 9000) & ( data_clean[col] <= 10000), col] = 10
        data_clean.loc[( data_clean[col] > 10000) & ( data_clean[col] <= 11000), col] =11
        data_clean.loc[( data_clean[col] > 11000) & ( data_clean[col] <= 12000), col] = 12
        data_clean.loc[( data_clean[col] > 12000) & ( data_clean[col] <= 13000), col] = 13
        data_clean.loc[( data_clean[col] > 13000) & ( data_clean[col] <= 14000), col] = 14
        data_clean.loc[( data_clean[col] > 14000) & ( data_clean[col] <= 15000), col] = 15
        data_clean.loc[( data_clean[col] > 15000), col] = 16
        data_clean[col] =  data_clean[col].astype(int)

In [14]:
data_clean.sample(10)

           country  suicideper100th  incomeperperson
67          Gambia         6.449157                1
77       Guatemala         2.234896                2
164          Samoa         5.542324                2
64          France        14.091530               16
22         Bolivia         2.034178                2
47            Cuba        10.571910                5
106        Lesotho         7.858619                1
90         Ireland        10.365070               16
210    Yemen, Rep.         6.265789                1
45   Cote d'Ivoire        20.317930                1

In [15]:
# using ols function for calculating the F-statistic and associated p value
model1 = smf.ols(formula='suicideper100th ~ C(incomeperperson)', data=data_clean)
results1 = model1.fit()
print (results1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        suicideper100th   R-squared:                       0.046
Model:                            OLS   Adj. R-squared:                 -0.040
Method:                 Least Squares   F-statistic:                    0.5354
Date:                Sun, 11 Mar 2018   Prob (F-statistic):              0.918
Time:                        22:54:36   Log-Likelihood:                -582.29
No. Observations:                 181   AIC:                             1197.
Df Residuals:                     165   BIC:                             1248.
Df Model:                          15
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   10.1508      0.869     11.685      0.000       8.436      11.866
C(incomeperperson)[T.2]     -1.1908      1.514     -0.786      0.433      -4.181       1.799
C(incomeperperson)[T.3]      0.6626      1.631      0.406      0.685      -2.557       3.882
C(incomeperperson)[T.4]     -3.6117      2.724     -1.326      0.187      -8.990       1.767
C(incomeperperson)[T.5]      0.2455      2.543      0.097      0.923      -4.776       5.267
C(incomeperperson)[T.6]      0.9709      2.095      0.463      0.644      -3.166       5.108
C(incomeperperson)[T.7]     -0.5182      2.399     -0.216      0.829      -5.255       4.218
C(incomeperperson)[T.8]     -1.6333      4.556     -0.359      0.720     -10.628       7.362
C(incomeperperson)[T.9]     -0.0564      3.753     -0.015      0.988      -7.467       7.354
C(incomeperperson)[T.10]    -2.1350      3.753     -0.569      0.570      -9.546       5.276
C(incomeperperson)[T.11]     1.0056      4.556      0.221      0.826      -7.989      10.000
C(incomeperperson)[T.12]    -5.4963      3.279     -1.676      0.096     -11.971       0.979
C(incomeperperson)[T.13]     1.7680      4.556      0.388      0.698      -7.227      10.763
C(incomeperperson)[T.14]    -7.3341      6.384     -1.149      0.252     -19.938       5.270
C(incomeperperson)[T.15]     2.0290      6.384      0.318      0.751     -10.575      14.633
C(incomeperperson)[T.16]    -0.7862      1.430     -0.550      0.583      -3.610       2.037
==============================================================================
Omnibus:                       54.201   Durbin-Watson:                   2.127
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              115.383
Skew:                           1.373   Prob(JB):                     8.81e-26
Kurtosis:                       5.786   Cond. No.                         14.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
print ('means for suicideper100th by incomeperperson status')
m1= data_clean.groupby('incomeperperson').mean()
print (m1)

means for suicideper100th by incomeperperson status
                 suicideper100th
incomeperperson
1                      10.150775
2                       8.959997
3                      10.813357
4                       6.539050
5                      10.396285
6                      11.121717
7                       9.632605
8                       8.517502
9                      10.094339
10                      8.015803
11                     11.156375
12                      4.654520
13                     11.918800
14                      2.816705
15                     12.179760
16                      9.364529

In [17]:
print ('standard deviations for suicideper100th by incomeperperson status')
sd1= data_clean.groupby('incomeperperson').std()
print (sd1)

standard deviations for suicideper100th by incomeperperson status
                 suicideper100th
incomeperperson
1                       4.513877
2                       8.445583
3                       8.155206
4                       5.192235
5                       5.743890
6                       9.465186
7                       4.934877
8                       5.445398
9                       0.569713
10                      5.882856
11                      4.795303
12                      2.555497
13                     10.611990
14                           NaN
15                           NaN
16                      5.075992

In [18]:
mc1 = multi.MultiComparison(data_clean['suicideper100th'], data_clean['incomeperperson'])
res1 = mc1.tukeyhsd()
print(res1.summary())

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
group1 group2 meandiff  lower    upper  reject
----------------------------------------------
  1      2    -1.1908  -6.4603   4.0788 False
  1      3     0.6626  -5.0123   6.3374 False
  1      4    -3.6117  -13.0915  5.868  False
  1      5     0.2455  -8.6051   9.0961 False
  1      6     0.9709   -6.321   8.2628 False
  1      7    -0.5182  -8.8659   7.8295 False
  1      8    -1.6333  -17.4864 14.2198 False
  1      9    -0.0564  -13.1176 13.0047 False
  1      10    -2.135  -15.1961 10.9262 False
  1      11    1.0056  -14.8475 16.8587 False
  1      12   -5.4963  -16.9081  5.9156 False
  1      13    1.768   -14.0851 17.6211 False
  1      14   -7.3341  -29.549  14.8808 False
  1      15    2.029   -20.1859 24.2439 False
  1      16   -0.7862  -5.7625    4.19  False
  2      3     1.8534  -4.6037   8.3105 False
  2      4    -2.4209  -12.3887  7.5468 False
  2      5     1.4363  -7.9352  10.8077 False
  2      6     2.1617  -5.7542  10.0777 False
  2      7     0.6726  -8.2254   9.5706 False
  2      8    -0.4425  -16.5921 15.7071 False
  2      9     1.1343  -12.2852 14.5539 False
  2      10   -0.9442  -14.3637 12.4753 False
  2      11    2.1964  -13.9533  18.346 False
  2      12   -4.3055  -16.1258  7.5148 False
  2      13    2.9588  -13.1908 19.1084 False
  2      14   -6.1433  -28.5708 16.2842 False
  2      15    3.2198  -19.2077 25.6472 False
  2      16    0.4045  -5.4482   6.2572 False
  3      4    -4.2743  -14.4621  5.9135 False
  3      5    -0.4171  -10.0223  9.1881 False
  3      6     0.3084   -7.883   8.4997 False
  3      7    -1.1808  -10.3246  7.9631 False
  3      8    -2.2959  -18.5822 13.9905 False
  3      9     -0.719  -14.3028 12.8648 False
  3      10   -2.7976  -16.3813 10.7862 False
  3      11    0.343   -15.9434 16.6294 False
  3      12   -6.1588  -18.1653  5.8476 False
  3      13    1.1054  -15.1809 17.3918 False
  3      14   -7.9967  -30.5228 14.5295 False
  3      15    1.3664  -21.1597 23.8926 False
  3      16   -1.4488  -7.6689   4.7713 False
  4      5     3.8572   -8.387  16.1015 False
  4      6     4.5827  -6.5869  15.7523 False
  4      7     3.0936  -8.7923  14.9794 False
  4      8     1.9785  -15.9912 19.9481 False
  4      9     3.5553  -12.0069 19.1175 False
  4      10    1.4768  -14.0854 17.0389 False
  4      11    4.6173  -13.3523  22.587 False
  4      12   -1.8845  -16.0908 12.3217 False
  4      13    5.3798  -12.5899 23.3494 False
  4      14   -3.7223  -27.494  20.0493 False
  4      15    5.6407  -18.1309 29.4123 False
  4      16    2.8255  -6.9904  12.6414 False
  5      6     0.7254  -9.9154  11.3663 False
  5      7    -0.7637  -12.154  10.6267 False
  5      8    -1.8788  -19.5246 15.7671 False
  5      9    -0.3019  -15.4891 14.8852 False
  5      10   -2.3805  -17.5676 12.8066 False
  5      11    0.7601  -16.8858 18.4059 False
  5      12   -5.7418  -19.5362  8.0526 False
  5      13    1.5225  -16.1233 19.1684 False
  5      14   -7.5796  -31.1074 15.9482 False
  5      15    1.7835  -21.7443 25.3113 False
  5      16   -1.0318  -10.2415  8.178  False
  6      7    -1.4891  -11.7155  8.7372 False
  6      8    -2.6042  -19.5221 14.3137 False
  6      9    -1.0274  -15.3622 13.3074 False
  6      10   -3.1059  -17.4407 11.2289 False
  6      11    0.0347  -16.8832 16.9525 False
  6      12   -6.4672  -19.3172  6.3828 False
  6      13    0.7971  -16.1208  17.715 False
  6      14    -8.305  -31.2919 14.6818 False
  6      15    1.058   -21.9288 24.0449 False
  6      16   -1.7572   -9.481   5.9666 False
  7      8    -1.1151  -18.5141 16.2839 False
  7      9     0.4617  -14.4379 15.3614 False
  7      10   -1.6168  -16.5165 13.2828 False
  7      11    1.5238  -15.8753 18.9228 False
  7      12   -4.9781  -18.4553  8.4992 False
  7      13    2.2862  -15.1128 19.6852 False
  7      14   -6.8159  -30.1592 16.5274 False
  7      15    2.5472  -20.7961 25.8904 False
  7      16   -0.2681  -8.9956   8.4595 False
  8      9     1.5768  -18.5138 21.6675 False
  8      10   -0.5017  -20.5924  19.589 False
  8      11    2.6389  -19.3694 24.6471 False
  8      12    -3.863  -22.9227 15.1967 False
  8      13    3.4013  -18.6069 25.4095 False
  8      14   -5.7008  -32.6553 21.2537 False
  8      15    3.6623  -23.2922 30.6167 False
  8      16    0.847   -15.2093 16.9034 False
  9      10   -2.0785  -20.0482 15.8911 False
  9      11    1.062   -19.0286 21.1527 False
  9      12   -5.4398  -22.2489 11.3693 False
  9      13    1.8245  -18.2662 21.9151 False
  9      14   -7.2776  -32.6906 18.1353 False
  9      15    2.0854  -23.3275 27.4983 False
  9      16   -0.7298  -14.0369 12.5773 False
  10     11    3.1406  -16.9501 23.2313 False
  10     12   -3.3613  -20.1704 13.4478 False
  10     13    3.903   -16.1877 23.9937 False
  10     14   -5.1991  -30.612  20.2138 False
  10     15    4.164   -21.249  29.5769 False
  10     16    1.3487  -11.9584 14.6558 False
  11     12   -6.5019  -25.5616 12.5578 False
  11     13    0.7624  -21.2458 22.7707 False
  11     14   -8.3397  -35.2942 18.6148 False
  11     15    1.0234  -25.9311 27.9779 False
  11     16   -1.7918  -17.8482 14.2645 False
  12     13    7.2643  -11.7954  26.324 False
  12     14   -1.8378  -26.4438 22.7681 False
  12     15    7.5252  -17.0807 32.1312 False
  12     16     4.71   -6.9825  16.4025 False
  13     14   -9.1021  -36.0566 17.8524 False
  13     15    0.261   -26.6935 27.2154 False
  13     16   -2.5543  -18.6106 13.5021 False
  14     15    9.3631  -21.7613 40.4874 False
  14     16    6.5478  -15.8126 28.9082 False
  15     16   -2.8152  -25.1756 19.5452 False
----------------------------------------------